

<h1>This is your captain.</h1>
  <div class="pirate">
    <h3>Pirate name: <%=@pirate.name%></h3>
    <h3>Pirate weight: <%=@pirate.weight%></h3>
    <h3>Pirate height: <%=@pirate.height%></h3>

  </div>

<h2>This is his ship information.</h2>
  <%@ships.each do |ship| %>
  <div class="ship">
    <h3>Ship Name: <%=ship.name%></h3>
    <h3>Ship Type: <%=ship.type%></h3>
    <h3>Ship Booty: <%=ship.booty%></h3>
    <%end%>

  </div>


<!-- <h2>Display your second ship here</h2> -->
